.container {
  display: flex;
  flex-direction: column;
  width: 260px;
  padding-top: 4px;
}

.filterOption {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  height: 56px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selected {
  background-color: rgb(183, 37, 40);
}
